.food-plan__avatar-container{
  max-height: 500px;
  overflow: hidden;
}

.food-plan__avatar {
  width: 100%;
}

.food-plan__nutrition-rate__field {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.food-plan__nutrition-rate__field__key {
  margin-right: 10px;
}