.home {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.home__container {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.home__container,
.home__container__row {
  height: 100%;
  position: relative;
}

.home__content {
  overflow-y: auto;
  overflow-x: hidden;
}
