.nutrients__field {
  display: flex;
  align-items: center;
}

.nutrients__key {
  flex: 40;
}

.nutrients__value {
  flex: 60;
}

.meal-item__avatar {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.meal__card__title {
  display: flex;
}

.meal__card__title__date {
  flex: 1;
}