.header {
  align-items: center;
  background: rgba(32, 166, 231, .8);
  box-shadow: 0 1px 2px 0 #bfbfbf;
  color: #eee;
  display: flex;
  height: 54px;
}

.header__content {
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.header__sidebar-trigger {
  cursor: pointer;
  margin-right: 15px;
  font-size: 25px;
}