.progress__card {
  margin: 5px 0;
}

.characteristics {
  padding: 1.25rem 0 0;
}

.characteristics__title {
  padding: 0 1.25rem;
}

.characteristics__field {
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  padding: 5px 10px;
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.characteristics__field:nth-child(2n+1) {
  background-color: rgba(0, 0, 0, .05);
}

.characteristics__field__key {
  flex: 40;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

.characteristics__field__value {
  flex: 60;
}
