.account .f-card {
  margin: 5px 0;
}

.account__data__field {
  display: flex;
  align-items: center;
}

.account__data__field__key {
  flex: 30;
}

.account__data__field__value {
  flex: 70;
}

.training-plan__footer {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-around;
}

.training-plan__action {
  margin: 2px 3px;
}
